<h1>Create a new category</h1>
<p style="color: red"><%= notice %></p>
<div class="form-wrapper">
  <%= render "form", categories: @categories %>
</div>
<div class="button-wrapper">
  <div class="button-box longer-button-width">
    <%= link_to "Back to categories", categories_path, { class: "empty-style-link-to"} %>
  </div>
</div>
